:root {
  --white: white;
  --blue: rgb(67, 140, 223);
  --black: rgb(0, 0, 0);
  --yellow: #f1b717;
  --grey: rgb(63, 63, 63);
  --orange: #ff8800;
}
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/pic.jpg");
  width: auto;
  margin: 0;

  padding: 40px 40px;
  background-position: center;
}
.logo{
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  /*order: 1;*/
  margin-right: auto;
  justify-self: center;
  background-color: transparent;
}
#check{
  display: none;
}
.navbar {
  border-radius: 20px;
  width: auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: var(--white);
  height: 90px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.507);
}
.drop-down {
  border-radius: 20px;
  width: auto;
  padding: 0 20px;
  margin: 10px 0;
  background-color: var(--white);
  height: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.507);
  background-color: var(--white);
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.navbar-items a, .drop-down a{
  background-color: transparent;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 10px;
  font-size: 20px;
  color: var(--black);
}
.navbar-items a:hover, .drop-down a:hover{
  opacity: 0.6;
}
.enabled{
  border-bottom: 3px solid var(--yellow);
}
.cta, .navbar-items a button, .drop-down a button{
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;

}
.navbar-items {
  background-color: transparent;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.icon-burger {
  display: none;
  justify-self: flex-end;
  width: 30px;
  height: 30px;
}
.icon-burger .burger {
  width: 30px;
  height: 5px;
  background-color: var(--yellow);
  margin: 5px;
}
.main-body {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
.first-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: 10px 10px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.second-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 25px;
  margin: 10px 10px;

  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.send{
  align-self: flex-end;
  cursor: pointer;
  margin-left: auto;
}
.contact_us_title {
  font-weight: 1000;
  font-size: 30px;
  color: black;
}
.contact_us_content {
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.text__input{
  margin: 5px;
  padding: 5px;
  height: 120px;
  border-radius: 15px;
  color: black;
  text-decoration-color: black;
  border-color: black;
  border-image-width: 5px;
}
.contact_us_content:hover {
  transform: scale(1.10);
}
.icons {
  background-color: var(--white);
  border-radius: 50%;
  padding: 10px;
  width: 25px;
  filter: invert(1);
}
label {
  color: var(--black);
}
.contact_us_content p {
  padding: 0 20px;
}
.column{
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  transition: width 0.4s ease-in-out;
  width: 50%;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
  background-color: transparent;
  padding: 12px 20px;
  margin: 10px 0;
  border: 2px solid var(--black);
  font-size: 18px;
}
input[type="text"]:focus {
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
  padding: 12px 20px;
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--black);
}
.submit button {
  width: 120px;
  border-radius: 30px;
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: var(--yellow);
  font-size: large;
  transition: background-color 0.4s ease-in-out;
}
.submit button:hover {
  border: none;
  background-color: var(--blue);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
@media screen and (max-width: 900px) {
  .icon-burger {
    display: block;
  }
  .navbar-items {
    display: none;
  }
  #check:checked ~ .drop-down{
    opacity: 1;
    visibility: visible;
    height: 400px;
  }

}
