:root {
  --white: white;
  --blue: rgb(67, 140, 223);
  --black: rgb(0, 0, 0);
  --yellow: #f1b717;
  --grey: rgb(63, 63, 63);
  --orange: #ff8800;
}
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
header{
  background: #fff;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  float: left;
  padding: 10px;
}
nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding: 20px 0;
}
body {
  background-size: cover;
  background-image: url('../assets/pic.jpg');
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
}

.navbar { 
}
.drop-down {
  
}

.item {
  
}
.item:hover {
}
.item.active {
}
.item.bordered {
  
}
.navbar-items {
  
}

.navbar img {
  
}
.icon-burger {
  
}
.icon-burger .line {
  
}
.body-cards {
  
}
.left-card {
  
}
.right-card {
  
}
.right-card img {
  
}

.title {
  
}
.main-body {
}

.data {
  
}


input[type="text"] {
}
input[type="submit"] {
}

input[type="submit"]:hover {
 
}

input[type="text"]:focus {
 
}

textarea {
}

textarea:focus {
}
::placeholder {
}


