@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

:root {
  --white: white;
  --blue: rgb(67, 140, 223);
  --black: rgb(0, 0, 0);
  --yellow: #f1b717;
  --grey: rgb(63, 63, 63);
  --orange: #ff8800;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font_size: 16px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

header{
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  background-color: transparent;

}

.navbar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  margin: 0;
  padding: 10px 10px;
}

.logo{
  cursor: pointer;
  order: 1;
  margin-right: auto;
}

.nav__links{
  list-style: none;

}

.nav__links li{
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  text-decoration: underline;
  text-decoration-width: 20px;
  text-underline-offset: 15px;
  text-decoration-color: #f1b717;
  color: rgb(63, 63, 63);
}

button{
  /*margin-right: 100px;*/
  padding: 9px 25px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgb(63, 63, 63);
}

nav{
order: 2;
  justify-content: center;
}

.cta{
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration-color: white;
  order:3;
}

body {
  background-size: cover;
  background-image: url('../assets/pic.jpg');
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
}


.drop-down {
  
}

.item {
  
}
.item:hover {
}
.item.active {
}
.item.bordered {
  
}
.navbar-items {
  
}
.navbar img {
  
}
.icon-burger {
  
}
.icon-burger .line {
  
}
.body-cards {
  
}
.left-card {
  
}
.right-card {
  
}
.right-card img {
  
}

.title {
  
}
.main-body {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.first_container{
  display: flex;
  border-radius: 15px;
  padding: 20px 20px;
  margin: 10px 10px;
  backdrop-filter: blur(5px);
}
.second_container{
  display: flex;
  border-radius: 15px;
  padding: 20px 20px;
  margin: 10px 10px;
  backdrop-filter: blur(5px);
}
.contact_us{
  list-style: none;
  align-items: stretch;
}
.contact_us_title{
  font-weight: 1000;
  font-size: 22px;
}
.row_circle{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
}
.icons{
  filter: invert(1);
}

.send{
  padding-left: 180px;
  cursor: pointer;
  margin-left: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.name__input{
  margin: 5px;
  padding: 5px;
  height: 30px;
  border-radius: 15px;
  color: black;
  text-decoration-color: black;
  border-color: black;
  border-image-width: 5px;
}

.phone__input{
  margin: 5px;
  padding: 5px;
  height: 30px;
  border-radius: 15px;
  color: black;
  text-decoration-color: black;
  border-color: black;
  border-image-width: 5px;
}

.text__input{
  margin: 5px;
  padding: 5px;
  height: 80px;
  border-radius: 15px;
  color: black;
  text-decoration-color: black;
  border-color: black;
  border-image-width: 5px;
}

.submit{
  height: 40px;
  background-color: darkorange;
  color: black;
}

.data {}


input[type="text"] {
}
input[type="submit"] {
}

input[type="submit"]:hover {
 
}

input[type="text"]:focus {
 
}

textarea {
}

textarea:focus {
}
::placeholder {
}


.row{
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 10px;
}
.row .row_content{
  flex-grow: 1;
  padding: 0 20px;
}

.row p{
  margin: 0;
  line-height: 1.2;
}

.row .notification-actions{
  opacity: 0;
  transition: ease 0.3s;
}
.row:hover{
  opacity: 1;
}

input[type=text]:focus {
  width: max-content;
}

input[type=text]{
  width: 100px;
}

.column{
  flex-grow: 1;
}